<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('externos/files'); %>
        <title>Moovick | Home
        </title>
</head>

<body>
    <!----------------------------------Inicial----------------------------------->
    <section style="height: 100%;">
        <div class="container-fluid bg-transparent" style="height: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-md-12" style="padding-top: 10em;">
                    <center>
                        <img src="assets/logos/logo.png" class="animated animate__fadeInLeft faster" style="width: 35%;" alt="">
                        <img src="assets/icons/error.png" class="animated animate__flash slow" style="width:10%;" alt="">
                        <br/>
                        <br/>
                        <h6 class="card-text text-white animated animate__fadeIn fast" style="text-align: center; padding-left: 5rem; padding-right: 5rem;">Ops! Parece que encontramos algum problema por aqui...</h6>
                        <p class="card-text text-white animated animate__fadeIn fast" style="text-align: center; padding-left: 5rem; padding-right: 5rem;">Isso pode acontecer por alguma falha interna ou porque você está sendo redirecionado a uma página protegida. Feche o Moovick e abra-o novamente.</p>
                        <a class="btn btn-light" href="/logout" role="button">Sair do Moovick</a>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </center>
                </div>
                <div class="col-md-6 animated animate__fadeIn" style="padding-top:7em; padding-bottom: 10%;">
                    <center>

                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </center>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
</body>

</html>