<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../externos/files'); %>
        <title>Moovick | Disciplinas
        </title>
</head>

<body>
    <%- include('../menus/bar', {active: null}); %>
        <!----------------------------------Inicial----------------------------------->
        <section style="height: 100%; overflow-y:hidden;">
            <div class="container-fluid">

                <div class="col-md-12 animated animate__slideInUp slow bg-white deck-animado" style="padding-top: 4%; padding-left: 8%; padding-right: 8%; border-radius: 10px; padding-bottom: 10%; -webkit-box-shadow: 0px -6px 7px 2px rgba(46, 50, 50, 0.25); -moz-box-shadow:    0px -6px 7px 2px rgba(46, 50, 50, 0.25);box-shadow:         0px -6px 7px 2px rgba(46, 50, 50, 0.25); margin-top: 2%;">

                    <div class="row row-cols-1 row-cols-md-2 row-cols-md-3 row-cols-md-4">
                        <a href="viewDisciplina?id=3" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/3.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Matemática</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=4" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/4.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Física</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=5" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/5.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Química</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=14" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/14.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Tecnologias</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=1" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/1.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Literatura</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=2" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/2.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Linguagens</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=13" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/13.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Redação</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=6" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/6.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Biologia</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=7" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/7.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Geografia</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=8" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/8.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">História</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=9" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/9.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Filosofia</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=10" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/10.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Sociologia</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=11" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/11.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Artes</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                        <a href="viewDisciplina?id=12" class="col mb-4 link-card" style="text-decoration: none;">
                            <div class="card">
                                <div class="card-body bg-white" style="background-image: url('assets/icons/12.png'); background-repeat: no-repeat; background-size: cover; height: 8rem;">
                                    <br/>
                                    <h6 class="card-title text-white text-light" style="font-size: 1.7rem; font-weight:300;">Educação Física</h6>
                                    <p class="card-text text-white"></p>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
            </div>
            </div>
        </section>
</body>

</html>