<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../externos/files'); %>
        <title>Moovick | Termos
        </title>
</head>

<body>
    <!----------------------------------Inicial----------------------------------->

    <section id="banner">
        <center>
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-3"></div>
                    <div class="col-md-6 text-dark animated animated animate__zoomIn faster">
                        <div class="card text-center">
                            <center>
                                <lottie-player src="https://assets2.lottiefiles.com/packages/lf20_jCWSsE.json" class="animated animate__fadeIn slow" background="transparent" speed="0.5" style="width: 8rem; height: 8rem;" loop mode='bounce' autoplay></lottie-player>
                            </center>

                            <h4 class="text-center text-muted animated animate__zoomIn faster">Termos</h4>
                            <div class="card-body" style="padding: 2rem;">
                                <p class="card-text text-left">Ao criar uma conta no Moovick, o usuário deve lembrar e concordar que:</p>
                                <p class="card-text text-left">Moovick é um software criado para compartilhamento. Há a possibilidade de upload de arquivos e documentos de qualquer origem, ficando a cargo do usuário toda a responsabilidade pelos arquivos enviados, bem como a integridade
                                    dos mesmos.</p>
                                <p class="card-text text-left">Email, nome, data de nascimento e descrição são dados que ficarão visíveis a outros usuários da plataforma, na página de perfil do utilizador.</p>
                                <br/>
                                <div class="input-group mb-3 bg-white">
                                    <button type="button" onclick="window.history.back()" class="btn btn-secondary btn-block" style="border-radius: 1rem; border-color:cadetblue; margin-left: 1rem; margin-right: 1rem;">Ok</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <br/>
                <br/>
        </center>
        </div>
        </div>
        <img class="img-wave" src="assets/backgrounds/unstable.png">
        <div class="container-fluid rodape bg-white">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <center>
                        <h3 class="text-dark">
                            &copy; Moovick 2020
                        </h3>
                        <p class="text-dark">
                            Desenvolvido por Mateus Kaufmann e Érica Matos. Uso de bootstrap
                        </p>
                    </center>
                </div>
            </div>
        </div>
    </section>

</body>

</html>