<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../externos/files'); %>
        <title>Moovick | Home
        </title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
        <a class="navbar-brand" href="#">
            <img src="assets/logos/logo.png" class="animated animate__flipInX slower" style="height: 2rem;" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" style="margin-top: 0.45rem;">
                <li class="nav-item">
                    <a class="nav-link active animated animate__fadeIn slower" href="login"><strong>Login</strong> <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active animated animate__fadeIn slower" href="cadastro"><strong>Cadastrar</strong> </a>
                </li>
            </ul>
        </div>
    </nav>
    <!----------------------------------Inicial----------------------------------->
    <section style="height: 100%;">
        <div class="container-fluid bg-transparent" style="height: 100%;">
            <div class="row" style="height: 100%;">
                <div class="col-md-6" style="padding-top: 10em;">
                    <center>
                        <img src="assets/logos/logo.png" class="animated animate__flipInX slow" style="width: 65%;" alt="">
                        <br/>
                        <br/>
                        <p class="card-text text-white animated animate__slideInUp animate__flipInX slow" style="text-align: justify; padding-left: 5rem; padding-right: 5rem;">O Moovick é a solução tecnológica oficial do projeto Pré-ENEM/Vestibular do IFRS - Campus Restinga. Mais do que um repositório de arquivos, a plataforma é um ambiente virtual de aprendizagem pensado para potencializar o estudo de estudantes da rede pública, organizando o conhecimento e facilitando a gestão pedagógica do projeto de extensão.</p>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </center>
                </div>
                <div class="col-md-6 animated animate__fadeIn" style="padding-top:7em; padding-bottom: 10%;">
                    <center>
                        <img src="assets/laptop.png" class="animated animate__slideInUp fast" style="width: 70%;" alt="">
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                        <br/>
                    </center>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 bg-white" style="padding-top: 8%; padding-bottom: 10%;">
                    <h3 class="card-text animated animate__fadeIn" style="padding-left: 2rem;">O IFRS Restinga</h3>
                    <p class="card-text animate__fadeInUp" style="padding: 2rem;">
                        O Campus Restinga faz parte da Rede Federal de Educação Profissional, Científica e Tecnológica. Sua fundação e localização estratégica têm como objetivo principal a democratização do acesso ao ensino técnico e superior em uma das regiões mais populosas da capital gaúcha, promovendo a inclusão social através da qualificação profissional gratuita.
                    </p>
                    <a href="http://ifrs.edu.br/restinga/" class="btn btn-outline-secondary my-2 my-sm-0 mr-sm-2" style="margin-left: 2rem;" type="submit">Website</a>
                </div>
                <div class="col-md-4" style="padding-left:0;padding-right:0;background-image: linear-gradient(to right, #a517ba, #5f1782); background-size: cover;">
                    <img src="assets/ifrestinga.jpg" style="width: 100%; height: 100%; object-fit: cover;object-position: center;" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4" style="padding:0;background-image: linear-gradient(to right, #a517ba, #5f1782); background-size: cover;">
                    <img src="assets/equipe.jpeg" style="width: 100%; height: 100%; object-fit: cover; object-position: center;" alt="">
                </div>
                <div class="col-md-8 bg-white" style="padding-top: 8%; padding-bottom: 10%;">
                    <h3 class="card-text animated animate__fadeIn" style="padding-left: 2rem;">Equipe de desenvolvimento do Moovick</h3>
                    <br/>
                    <ul class="navbar-nav mr-auto" style="padding-left: 2rem;">
                        <li class="nav-item active">
                            <p class="card-text">Juliana Battisti - Licenciada em Letras Português/Espanhol e suas respectivas literaturas. Mestra em Linguística Aplicada</p>
                        </li>
                        <br/>
                        <li class="nav-item">
                            <p class="card-text">Érica Matos - Estudante do curso de Informática integrado ao Ensino Médio do IFRS Restinga</p>
                        </li>
                        <br/>
                        <li class="nav-item">
                            <p class="card-text">Mateus Kaufmann - Estudante do curso de Informática integrado ao Ensino Médio do IFRS Restinga</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
</body>


</html>
