<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('../../externos/files'); %>

        <title>Moovick | Home</title>
</head>

<body>
    <!----------------------------------Inicial----------------------------------->

    <section id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <center>
                        <img class="img-logo animated zoomIn fast" src="assets/logos/logo.png">
                    </center>


                </div>
                <div class="col-md-6 text-center fonte">
                    <center>
                        <p class="promo-p animated vanishIn faster">Olá! Seja bem vindo ao seu software de estudos para vestibulares! Crie sua conta para acessar todos os conteúdos postados pelos seus professores.</p>
                        <button onclick="login()" type="button" class="btn btn-light btn-lg animated vanishIn faster" style="border-radius: 1rem; border-color:cadetblue;">Login</button>
                        <button onclick="cadastro()" type="button" class="btn btn-light btn-lg animated vanishIn faster" style="border-radius: 1rem; border-color:cadetblue;">Me cadastrar</button>
                    </center>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <br/>
        <br/>
        <center>
            <lottie-player src="https://assets7.lottiefiles.com/temp/lf20_J1XkLr.json" background="transparent" speed="1" style="width: 5rem; height: 5rem;" loop autoplay class="zoom"></lottie-player>
        </center>

        <div class="container-fluid bg-transparent">
            <div class="row">
                <div class="col-md-12 bg-transparent" style="padding: 4rem;">
                    <br/>
                    <br/>
                    <center>
                        <h1 class="fonte">Por que usar Moovick?</h1>
                    </center>
                    <br/>
                    <br/>
                    <div class="card mb-3 bg-transparent border-light" style="max-height: 100%;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="assets/prints/inicio.png" class="card-img zoom" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <br/>
                                    <h5 class="card-title fonte">Interface Simplificada</h5>
                                    <p class="card-text fonte">Com uma interface colorida e intuitiva, Moovick é um sistema simples de navegar e utilizar. Menus com ícones coloridos e animações tornam mais divertida a experiência de ler e estudar.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 bg-transparent border-light" style="max-height: 100%;">
                        <div class="row no-gutters">

                            <div class="col-md-8">
                                <div class="card-body">
                                    <br/>
                                    <h5 class="card-title fonte">Acesso rápido aos materiais</h5>
                                    <p class="card-text fonte">Com o sistema inteligente de busca por conteúdos, fica muito mais fácil localizar os materiais que você está procurando, seja usando o nome do professor, tipo de conteúdo ou, até mesmo, busca por títulos</p>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="assets/prints/inicio2.png" class="card-img zoom" alt="...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid bg-transparent">
            <div class="row">
                <div class="col-md-12 bg-transparent" style="padding: 4rem;">
                    <center>
                        <h1 class="fonte">Equipe e Desenvolvimento</h1>
                    </center>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <center>
                        <div class="card bg-transparent fonte border-light" style="max-width: 18rem;">
                            <img src="assets/mateus.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fonte">Mateus Kaufmann</h5>
                                <p class="card-text">Estudante do 4° ano do curso de Técnico em Informática integrado ao Ensino Médio</p>
                            </div>
                        </div>
                    </center>
                </div>
                <div class="col-md-4 fonte">
                    <center>
                        <h5 class="card-title fonte">Motivo</h5>
                    </center>
                    <p class="card-text">Moovick é uma plataforma de estudos e compartilhamento de materiais que ajudam na preparação para o Enem e para o vestibular da UFRGS. A plataforma, que está em fase de implementação, possui como recurso principal o compartilhamento
                        de conteúdos entre educadores e estudantes.</p>
                    <p class="card-text">
                        Funciona assim: Professores e Professoras do IFRS - Campus Restinga publicam seus materiais toda terça-feira. Os conteúdos desenvolvidos nos materiais têm como ponto de partida as videoaulas veiculadas pela TV Seduc RS. Essas aulas estão sendo passadas
                        todos os dias pela TV educativa e, também, ficam gravadas no canal do YouTube da Seduc RS.</p>

                </div>
                <div class="col-md-4">
                    <center>
                        <div class="card bg-transparent fonte border-light" style="max-width: 18rem;">
                            <img src="assets/erica.png" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title fonte">Érica Matos</h5>
                                <p class="card-text">Estudante do 4° ano do curso de Técnico em Informática integrado ao Ensino Médio</p>
                            </div>
                        </div>
                    </center>
                </div>

            </div>



        </div>
        <img class="img-wave" src="assets/backgrounds/unstable.png">

        <div class="container-fluid rodape bg-white">
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <center>
                        <h3 class="text-dark">
                            &copy; Moovick 2020
                        </h3>
                        <p class="text-dark">
                            Desenvolvido por Mateus Kaufmann e Érica Matos. Uso de bootstrap
                        </p>
                    </center>
                </div>
            </div>
        </div>
    </section>

</body>

</html>